
#Public Keys for VAPI and Google OAuth
VITE_VAPI_PUBLIC_KEY=
VITE_VAPI_ASSISTANT_ID_EN=
VITE_VAPI_ASSISTANT_ID_DE=
VITE_VAPI_ASSISTANT_ID_HE=
VITE_VAPI_READER_ASSISTANT_ID=
VITE_GOOGLE_CLIENT_ID=

#Local URLs for backend/livekit servers
VITE_BACKEND_URL=https://localhost:5174
# Public URL frontend uses to connect to LiveKit (dev)
VITE_LIVEKIT_URL=http://localhost:5175
