# ─── Ports (Theme) ─────────────────────────────────────────────
FRONTEND_PORT=5173
BACKEND_PORT=5174
MONGO_PORT=27017
MONGO_HOST=mongo
MONGO_HOSTNAME_PORT=5176

# ─── MongoDB Settings ─────────────────────────────────────────
MONGO_DB=CareBell
MONGO_ROOT_USER=carebellroot
MONGO_ROOT_PASS=supersecure
MONGO_APP_USER=carebelluser
MONGO_APP_PASS=appsecure

# Backend connection string (containers use internal hostname "mongo")
# IMPORTANT: authSource must be the CareBell DB where the app user lives
MONGODB_URI=mongodb://${MONGO_APP_USER}:${MONGO_APP_PASS}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DB}?authSource=${MONGO_DB}

#MEDIASOUP
RTC_PORT_MIN=40000
RTC_PORT_MAX=40200
MEDIASOUP_ANNOUNCED_IP=127.0.0.1 #LOCALHOST/PUBLIC IP